body{
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("https://www.micromania.fr/on/demandware.static/-/Sites-Micromania-Library/default/dw9c2142fc/fanzone/dossier/rick&morty/RICKANDMORTY_Header.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  p{
    font-family: 'Fira Sans', sans-serif;
  }
  h2, h3, h4, h5, .line-title{
    font-family: 'Rubik Iso', cursive;
  }

}

.bg-main{
  background-color: #00daf3;

}
