<div *ngIf="character$ | async as character" class="row col-6 card shadow mx-auto mt-5">
  <div class="card-body text-center">
    <h5 class="card-title">{{character.id}} - {{character.name}}</h5>
    <img [src]="character.image" class="card-img-top mb-3">
    <div class="text-start">
      <div class="float-end m-3 d-flex flex-column">
        <a routerLink="edit" class="btn btn-outline-success mb-1"><i class="fa-solid fa-pen-to-square fa-xl"></i> EDIT</a>
        <button (click)="onClickDelete(character.id)" class="btn btn-outline-danger"><i class="fa-solid fa-trash fa-xl"></i> DELETE</button>
      </div>
      <p>Status : {{character.status}}</p>
      <p>Species : {{character.species}}</p>
      <p>Gender : {{character.gender}}</p>
      <p *ngIf="character.type">Type : {{character.type}}</p>
      <p>Origin : {{character.origin.name}}</p>
      <p>Created : {{character.created}}</p>
      <p>Appearances : </p>
      <ul>
        <li *ngFor="let episode of character.episode">{{episode}}</li>
      </ul>
    </div>
    <button routerLink="/" class="btn btn-primary mt-2">BACK</button>
  </div>
</div>
